@model IList<Faculty.AspUI.ViewModels.Specialization.SpecializationDisplayModify>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Specialization - List";
    var isAdmin = Context.User.IsInRole("administrator");
}

<div class="container mb-3">
    @if (isAdmin)
    {
        @Html.ActionLink(_localizer["BtnNew"].Value, "Create", "Specialization", null, new { @class = "btn btn-primary" })
    }
    else
    {
        <p disabled="disabled" class="btn btn-primary disabled">@_localizer["BtnNew"].Value</p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@_localizer["ColumnNumber"].Value</th>
            <th scope="col">@_localizer["ColumnName"].Value</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].Name</td>
                <td>
                    @if (isAdmin)
                    {
                        @Html.ActionLink(_localizer["BtnDelete"].Value, "Delete", "Specialization", new {id = Model[i].Id}, new {@class = "btn btn-primary mr-2"})
                        @Html.ActionLink(_localizer["BtnEdit"].Value, "Edit", "Specialization", new {id = Model[i].Id}, new {@class = "btn btn-primary"})
                    }
                    else
                    {
                        <p disabled="disabled" class="btn btn-primary disabled">@_localizer["BtnDelete"].Value</p>
                        <p disabled="disabled" class="btn btn-primary disabled">@_localizer["BtnEdit"].Value</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
