@model Faculty.BusinessLayer.ModelsDto.CuratorDto

@{
    ViewData["Title"] = "Curator - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@_localizer["CreateCaption"].Value</h1>
<h4>@_localizer["CuratorCaption"].Value</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Curator">
            <div class="form-group">
                <label asp-for="Surname">@_localizer["LabelSurname"].Value</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name">@_localizer["LabelName"].Value</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Doublename">@_localizer["LabelDoublename"].Value</label>
                <input asp-for="Doublename" class="form-control" />
                <span asp-validation-for="Doublename" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone">@_localizer["LabelPhone"].Value</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@_localizer["BtnCreate"].Value" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@_localizer["LinkBackToList"].Value</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
